@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
.clicktoup {
  background-color: #37ab9d;
  border-radius: 50%;
  width: 45px;
  padding: 10px 0px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 999;
}
.clicktoup a {
  text-decoration: none;
  color: white;
}

#responsive-header {
  background-color: #1e2845;
  display: none;
}
#responsive-header .menuicon i {
  font-size: 20px;
  color: white;
  transition: 0.3s ease-in-out;
}
#responsive-header .menuicon i.activerot {
  transform: rotate(180deg);
}
#responsive-header .logo {
  display: flex;
  justify-content: center;
}
#responsive-header .logo img {
  width: 50%;
}
#responsive-header .search i {
  font-size: 20px;
  color: white;
}

.clickmenu {
  background-color: #1e2845;
  height: 120vh;
  width: 80%;
  position: absolute;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  left: -100%;
  padding: 30px 0px;
  display: none;
}
.clickmenu.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}
.clickmenu ul .clickhome .clickhome-dropped {
  display: none;
}
.clickmenu ul .clickhome .clickhome-dropped.active2 {
  display: block;
}
.clickmenu ul .clickhome .clickhome-dropped li a {
  font-size: 14px;
}
.clickmenu ul .clickcourses .clickcourses-dropped {
  display: none;
}
.clickmenu ul .clickcourses .clickcourses-dropped.active3 {
  display: block;
}
.clickmenu ul .clickcourses .clickcourses-dropped li a {
  font-size: 14px;
}
.clickmenu ul .clickblog .clickblog-dropped {
  display: none;
}
.clickmenu ul .clickblog .clickblog-dropped.active4 {
  display: block;
}
.clickmenu ul .clickblog .clickblog-dropped li a {
  font-size: 14px;
}
.clickmenu ul .clickpages .clickpages-dropped {
  display: none;
}
.clickmenu ul .clickpages .clickpages-dropped.active5 {
  display: block;
}
.clickmenu ul .clickpages .clickpages-dropped li a {
  font-size: 14px;
}
.clickmenu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: block;
  padding: 10px 30px;
}
.clickmenu li a i {
  background-color: #29324e;
  padding: 10px 15px;
  float: right;
}
.clickmenu input {
  margin-top: 20px;
  outline: none;
  width: 20rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

#header {
  padding: 10px 0px;
  background-color: white;
}
#header .logo img {
  width: 50%;
}
#header .navmenu ul .home {
  position: relative;
}
#header .navmenu ul .home:hover .home-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#header .navmenu ul .home .home-dropped {
  position: absolute;
  border-top: 3px solid #3bbca7;
  border-radius: 5px;
  background-color: white;
  width: 17rem;
  max-height: 35vh;
  transform: translateY(40px);
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#header .navmenu ul .home .home-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#header .navmenu ul .courses {
  position: relative;
}
#header .navmenu ul .courses:hover .courses-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#header .navmenu ul .courses .courses-dropped {
  position: absolute;
  border-top: 3px solid #3bbca7;
  border-radius: 5px;
  background-color: white;
  width: 17rem;
  max-height: 35vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#header .navmenu ul .courses .courses-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#header .navmenu ul .blog {
  position: relative;
}
#header .navmenu ul .blog:hover .blog-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#header .navmenu ul .blog .blog-dropped {
  position: absolute;
  border-top: 3px solid #3bbca7;
  border-radius: 5px;
  background-color: white;
  width: 16rem;
  max-height: 22vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#header .navmenu ul .blog .blog-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#header .navmenu ul .pages {
  position: relative;
}
#header .navmenu ul .pages:hover .pages-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#header .navmenu ul .pages .pages-dropped {
  position: absolute;
  border-top: 3px solid #3bbca7;
  border-radius: 5px;
  background-color: white;
  width: 16rem;
  max-height: 62vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#header .navmenu ul .pages .pages-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#header .navmenu ul li:first-child a {
  color: #3bbca7;
}
#header .navmenu ul li a {
  display: block;
  color: #072f60;
  text-decoration: none;
  font-weight: 500;
  font-family: inherit;
  margin-top: 20px;
  padding: 0px 15px;
  transition: 0.2s ease-in-out;
}
#header .navmenu ul li a:hover {
  color: #3bbca7;
}
#header .navmenu ul li a:hover i {
  color: #3bbca7;
}
#header .navmenu ul li a i {
  padding: 5px;
  font-size: 12px;
  color: grey;
  transition: 0.2s ease-in-out;
}
#header .inputbox {
  position: relative;
}
#header .inputbox input {
  background-color: #f8f8f8;
  outline: none;
  border: none;
  padding: 12px 20px;
  width: 250px;
  font-family: inherit;
  border-radius: 5px;
}
#header .inputbox .fa-magnifying-glass {
  position: absolute;
  top: 35%;
  left: 80%;
  color: #3bbca7;
}
#header .line {
  width: 1px;
  height: 40px;
  background-color: #b6b6b6;
  transform: rotateX("90deg");
}
#header .rightside {
  margin: 15px 120px 0px 0px;
  font-family: inherit;
}
#header .rightside p {
  transition: 0.2s ease-in-out;
}
#header .rightside p:hover {
  color: #37ab9d;
  cursor: pointer;
}

#experience {
  background-color: #fdfaf1;
}
#experience .box {
  font-family: "Heebo", sans-serif;
  padding: 120px;
}
#experience .box h6 {
  color: #37ab9d;
  font-weight: bolder;
}
#experience .box h1 {
  font-weight: bold;
  color: #072f60;
}
#experience .box p {
  color: grey;
  font-size: 18px;
}
#experience .box input {
  border: 1px solid rgba(128, 128, 128, 0.26);
  border-radius: 3px;
  width: 70%;
  padding: 10px;
}
#experience .box span {
  color: white;
  background-color: #37ab9d;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
}
#experience .box a {
  color: #37ab9d;
  text-decoration: none;
}

#count .box .num {
  color: #141948;
  font-size: 50px;
}
#count .box .plus {
  color: #141948;
  font-size: 50px;
}
#count .box P {
  color: grey;
}

#toprated p {
  color: #141948;
  font-weight: bold;
  font-size: 40px;
}
#toprated .click {
  text-decoration: none;
  color: #141948;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
#toprated .box1, #toprated #tutorials .box8, #tutorials #toprated .box8, #toprated #tutorials .box7, #tutorials #toprated .box7, #toprated #tutorials .box6, #tutorials #toprated .box6, #toprated #tutorials .box5, #tutorials #toprated .box5, #toprated .box4, #toprated .box3, #toprated .box2 {
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#toprated .box1:hover img, #toprated #tutorials .box8:hover img, #tutorials #toprated .box8:hover img, #toprated #tutorials .box7:hover img, #tutorials #toprated .box7:hover img, #toprated #tutorials .box6:hover img, #tutorials #toprated .box6:hover img, #toprated #tutorials .box5:hover img, #tutorials #toprated .box5:hover img, #toprated .box4:hover img, #toprated .box3:hover img, #toprated .box2:hover img {
  filter: brightness(80%);
}
#toprated .box1 img, #toprated #tutorials .box8 img, #tutorials #toprated .box8 img, #toprated #tutorials .box7 img, #tutorials #toprated .box7 img, #toprated #tutorials .box6 img, #tutorials #toprated .box6 img, #toprated #tutorials .box5 img, #tutorials #toprated .box5 img, #toprated .box4 img, #toprated .box3 img, #toprated .box2 img {
  padding: 20px 0px;
  transition: 0.2s ease-in-out;
}
#toprated .box1 .human, #toprated #tutorials .box8 .human, #tutorials #toprated .box8 .human, #toprated #tutorials .box7 .human, #tutorials #toprated .box7 .human, #toprated #tutorials .box6 .human, #tutorials #toprated .box6 .human, #toprated #tutorials .box5 .human, #tutorials #toprated .box5 .human, #toprated .box4 .human, #toprated .box3 .human, #toprated .box2 .human {
  border-radius: 50%;
  width: 11%;
  margin-left: 20px;
}
#toprated .box1 a, #toprated #tutorials .box8 a, #tutorials #toprated .box8 a, #toprated #tutorials .box7 a, #tutorials #toprated .box7 a, #toprated #tutorials .box6 a, #tutorials #toprated .box6 a, #toprated #tutorials .box5 a, #tutorials #toprated .box5 a, #toprated .box4 a, #toprated .box3 a, #toprated .box2 a {
  background-color: #f1faf9;
  color: #3bbca7;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}
#toprated .box1 a:hover, #toprated #tutorials .box8 a:hover, #tutorials #toprated .box8 a:hover, #toprated #tutorials .box7 a:hover, #tutorials #toprated .box7 a:hover, #toprated #tutorials .box6 a:hover, #tutorials #toprated .box6 a:hover, #toprated #tutorials .box5 a:hover, #tutorials #toprated .box5 a:hover, #toprated .box4 a:hover, #toprated .box3 a:hover, #toprated .box2 a:hover {
  background-color: #3bbca7;
  color: white;
}
#toprated .box1 .span1, #toprated #tutorials .box8 .span1, #tutorials #toprated .box8 .span1, #toprated #tutorials .box7 .span1, #tutorials #toprated .box7 .span1, #toprated #tutorials .box6 .span1, #tutorials #toprated .box6 .span1, #toprated #tutorials .box5 .span1, #tutorials #toprated .box5 .span1, #toprated .box4 .span1, #toprated .box3 .span1, #toprated .box2 .span1 {
  float: right;
  margin-top: 2px;
  margin-right: 20px;
  color: #072f60;
  font-weight: bold;
}
#toprated .box1 .span2, #toprated #tutorials .box8 .span2, #tutorials #toprated .box8 .span2, #toprated #tutorials .box7 .span2, #tutorials #toprated .box7 .span2, #toprated #tutorials .box6 .span2, #tutorials #toprated .box6 .span2, #toprated #tutorials .box5 .span2, #tutorials #toprated .box5 .span2, #toprated .box4 .span2, #toprated .box3 .span2, #toprated .box2 .span2 {
  color: grey;
}
#toprated .box1 .span3, #toprated #tutorials .box8 .span3, #tutorials #toprated .box8 .span3, #toprated #tutorials .box7 .span3, #tutorials #toprated .box7 .span3, #toprated #tutorials .box6 .span3, #tutorials #toprated .box6 .span3, #toprated #tutorials .box5 .span3, #tutorials #toprated .box5 .span3, #toprated .box4 .span3, #toprated .box3 .span3, #toprated .box2 .span3 {
  color: gray;
}
#toprated .box1 h6, #toprated #tutorials .box8 h6, #tutorials #toprated .box8 h6, #toprated #tutorials .box7 h6, #tutorials #toprated .box7 h6, #toprated #tutorials .box6 h6, #tutorials #toprated .box6 h6, #toprated #tutorials .box5 h6, #tutorials #toprated .box5 h6, #toprated .box4 h6, #toprated .box3 h6, #toprated .box2 h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #072f60;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
#toprated .box1 h6:hover, #toprated #tutorials .box8 h6:hover, #tutorials #toprated .box8 h6:hover, #toprated #tutorials .box7 h6:hover, #tutorials #toprated .box7 h6:hover, #toprated #tutorials .box6 h6:hover, #tutorials #toprated .box6 h6:hover, #toprated #tutorials .box5 h6:hover, #tutorials #toprated .box5 h6:hover, #toprated .box4 h6:hover, #toprated .box3 h6:hover, #toprated .box2 h6:hover {
  color: #3bbca7;
}
#toprated .box1 .fa-user, #toprated #tutorials .box8 .fa-user, #tutorials #toprated .box8 .fa-user, #toprated #tutorials .box7 .fa-user, #tutorials #toprated .box7 .fa-user, #toprated #tutorials .box6 .fa-user, #tutorials #toprated .box6 .fa-user, #toprated #tutorials .box5 .fa-user, #tutorials #toprated .box5 .fa-user, #toprated .box4 .fa-user, #toprated .box3 .fa-user, #toprated .box2 .fa-user {
  color: #3bbca7;
  margin-left: 5px;
}
#toprated .box1 .fa-book, #toprated #tutorials .box8 .fa-book, #tutorials #toprated .box8 .fa-book, #toprated #tutorials .box7 .fa-book, #tutorials #toprated .box7 .fa-book, #toprated #tutorials .box6 .fa-book, #tutorials #toprated .box6 .fa-book, #toprated #tutorials .box5 .fa-book, #tutorials #toprated .box5 .fa-book, #toprated .box4 .fa-book, #toprated .box3 .fa-book, #toprated .box2 .fa-book {
  color: #3bbca7;
  margin-left: 5px;
}
#toprated .box1 .fa-star, #toprated #tutorials .box8 .fa-star, #tutorials #toprated .box8 .fa-star, #toprated #tutorials .box7 .fa-star, #tutorials #toprated .box7 .fa-star, #toprated #tutorials .box6 .fa-star, #tutorials #toprated .box6 .fa-star, #toprated #tutorials .box5 .fa-star, #tutorials #toprated .box5 .fa-star, #toprated .box4 .fa-star, #toprated .box3 .fa-star, #toprated .box2 .fa-star {
  color: #ffb60a;
  font-size: 14px;
  padding-bottom: 20px;
}
#toprated .textbox {
  margin-top: 100px;
  justify-content: center;
}
#toprated .textbox h6 {
  color: #072f60;
  font-size: 30px;
}
#toprated .textbox span {
  color: gray;
  margin-top: 10px;
}
#toprated button {
  background-color: #3bbca7;
  color: white;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
#toprated button:hover {
  background-color: #141948;
}

#enroll {
  background-color: #fdfaf2;
  margin-top: 100px;
}
#enroll h1 {
  color: #072f60;
}
#enroll .box {
  overflow: hidden;
  padding: 20px 0px;
  position: relative;
}
#enroll .box:hover img {
  transform: scale(1.1);
}
#enroll .box img {
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  filter: brightness(70%);
}
#enroll .box .mainbox {
  position: absolute;
  top: 60%;
  margin-left: 20px;
  color: white;
  font-family: "Heebo", sans-serif;
}
#enroll .box .mainbox h6 {
  font-weight: bolder;
}
#enroll .box .iconbox i {
  background-color: #37ab9d;
  border-radius: 50%;
  padding: 14px;
  margin-left: 150px;
}

#feature {
  margin-top: 100px;
}
#feature h1 {
  color: #072f60;
}
#feature h2 {
  margin-top: 100px;
  color: #072f60;
}
#feature h2 span {
  color: #3bbca7;
}
#feature #slider .wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}
#feature #slider .wrapper i {
  z-index: 999;
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
#feature #slider .wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
#feature #slider .wrapper i:hover {
  background: #f2f2f2;
}
#feature #slider .wrapper i:first-child {
  left: -22px;
  display: none;
}
#feature #slider .wrapper i:last-child {
  right: -22px;
}
#feature #slider .wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
#feature #slider .carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
#feature #slider .carousel.dragging img {
  pointer-events: none;
}
#feature #slider .carousel img {
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 14px;
  width: 25%;
}
#feature #slider .carousel img:first-child {
  margin-left: 0px;
}
#feature .designer {
  background-color: #fdfaf1;
}
#feature .designer p {
  text-align: left;
  color: #072f60;
  font-size: 22px;
  line-height: 40px;
  font-weight: bold;
  margin: 40px 40px 0px 0px;
}
#feature .designer p .span1 {
  font-size: 18px;
  color: #29324e;
}
#feature .designer p .span2 {
  font-size: 12px;
  color: grey;
}

#news {
  margin-top: 100px;
}
#news h1 {
  color: #141948;
}
#news .box {
  margin-top: 50px;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  position: relative;
  cursor: pointer;
}
#news .box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#news .box i {
  color: #3bbca7;
  margin: 20px 0px 0px 20px;
}
#news .box span {
  color: grey;
  transition: 0.2s ease-in-out;
  font-size: 12px;
  font-weight: 500;
}
#news .box span:hover {
  color: #3bbca7;
}
#news .box h4 {
  color: #072f60;
  margin: 20px;
  transition: 0.2s ease-in-out;
}
#news .box h4:hover {
  color: #3bbca7;
}
#news .box p {
  color: grey;
  margin-left: 20px;
  padding-bottom: 20px;
}
#news .box button {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  background-color: #3bbca7;
  border: none;
  outline: none;
  color: white;
  padding: 5px 12px;
  font-weight: bold;
}

#business {
  margin: 100px 0px;
  background-color: #fefefe;
}
#business .box {
  padding: 30px 0px;
}
#business .mainbox {
  background-color: #3bbca7;
  border-radius: 10px;
}
#business .mainbox .textbox {
  margin: 50px 0px 0px 80px;
}
#business .mainbox .textbox h1 {
  color: white;
  font-weight: bolder;
}
#business .mainbox .textbox p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px;
}
#business .mainbox .textbox a {
  text-decoration: none;
  display: inline-block;
  color: #1b2336;
  background-color: white;
  padding: 12px 25px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
#business .mainbox .textbox a:hover {
  color: white;
  background-color: #072f60;
}
#business .mainbox .imgbox {
  float: right;
}

#footer {
  background-color: #141948;
  color: #dddfe3;
  font-family: inherit;
  padding: 20px 0px;
}
#footer .box img {
  width: 60%;
  margin: 20px 0px;
}
#footer .box .fa-brands {
  color: #37ab9d;
  border-radius: 50%;
  border: 1px solid #37ab9d;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
#footer .box .fa-brands:hover {
  background-color: #37ab9d;
  color: white;
}
#footer .box span {
  display: block;
  margin: 20px 30px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
#footer .box ul {
  list-style: none;
}
#footer .box ul li {
  padding: 5px 0px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}
#footer .box ul li:hover {
  border-bottom: 1px solid white;
}
#footer .box i {
  margin: 0px 5px;
  color: #37ab9d;
}

@media (max-width: 1365px) {
  #header {
    display: none;
  }
  #headerv5 {
    display: none;
  }
  #experience .box span {
    display: inline-block;
    margin-top: 20px;
  }
  #responsive-header {
    display: block;
  }
  .clickmenu {
    display: block;
  }
  #feature #slider {
    width: 90%;
    margin: auto;
  }
  #feature #slider .wrapper .carousel img {
    width: 100%;
  }
  #tutorials .textbox h2 {
    display: none;
  }
  #tricks .leftside img {
    display: none;
  }
  #chiken .box img {
    display: none;
  }
}
@media (min-width: 1367px) and (max-width: 2160px) {
  #header {
    display: flex;
    justify-content: center;
  }
  #header .line {
    margin: 0px 20px;
  }
  #headerv5 {
    display: flex;
    justify-content: center;
  }
  #headerv5 .line {
    margin: 0px 20px;
  }
  .clickmenu {
    display: none;
  }
  #enroll .box .iconbox i {
    margin-left: 190px;
  }
}
#platform {
  background-color: #e9f2f7;
  padding-top: 50px;
}
#platform .dots {
  margin-left: 80px;
}
#platform .textbox {
  margin-top: 100px;
  float: right;
}
#platform .textbox h1 {
  color: #072f60;
  font-weight: bold;
  font-size: 50px;
}
#platform .textbox p {
  color: grey;
  margin: 30px 0px;
}
#platform .textbox a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #3bbca7;
  padding: 12px 15px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
#platform .textbox a:hover {
  color: white;
  background-color: #072f60;
}

#tutorials {
  margin-top: 100px;
}
#tutorials h1 {
  color: #072f60;
}
#tutorials ul li {
  padding: 0px 20px;
  color: #072f60;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
#tutorials ul li:first-child {
  color: #3bbca7;
}
#tutorials .box1, #tutorials .box8, #tutorials .box7, #tutorials .box6, #tutorials .box5, #tutorials .box4, #tutorials .box3, #tutorials .box2 {
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#tutorials .box1:hover img, #tutorials .box8:hover img, #tutorials .box7:hover img, #tutorials .box6:hover img, #tutorials .box5:hover img, #tutorials .box4:hover img, #tutorials .box3:hover img, #tutorials .box2:hover img {
  filter: brightness(80%);
}
#tutorials .box1 img, #tutorials .box8 img, #tutorials .box7 img, #tutorials .box6 img, #tutorials .box5 img, #tutorials .box4 img, #tutorials .box3 img, #tutorials .box2 img {
  padding: 20px 0px;
  transition: 0.2s ease-in-out;
}
#tutorials .box1 .human, #tutorials .box8 .human, #tutorials .box7 .human, #tutorials .box6 .human, #tutorials .box5 .human, #tutorials .box4 .human, #tutorials .box3 .human, #tutorials .box2 .human {
  border-radius: 50%;
  width: 11%;
  margin-left: 20px;
}
#tutorials .box1 a, #tutorials .box8 a, #tutorials .box7 a, #tutorials .box6 a, #tutorials .box5 a, #tutorials .box4 a, #tutorials .box3 a, #tutorials .box2 a {
  background-color: #f1faf9;
  color: #3bbca7;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
#tutorials .box1 a:hover, #tutorials .box8 a:hover, #tutorials .box7 a:hover, #tutorials .box6 a:hover, #tutorials .box5 a:hover, #tutorials .box4 a:hover, #tutorials .box3 a:hover, #tutorials .box2 a:hover {
  background-color: #3bbca7;
  color: white;
}
#tutorials .box1 .span1, #tutorials .box8 .span1, #tutorials .box7 .span1, #tutorials .box6 .span1, #tutorials .box5 .span1, #tutorials .box4 .span1, #tutorials .box3 .span1, #tutorials .box2 .span1 {
  float: right;
  margin-top: 2px;
  margin-right: 20px;
  color: #072f60;
  font-weight: bold;
}
#tutorials .box1 .span2, #tutorials .box8 .span2, #tutorials .box7 .span2, #tutorials .box6 .span2, #tutorials .box5 .span2, #tutorials .box4 .span2, #tutorials .box3 .span2, #tutorials .box2 .span2 {
  color: grey;
}
#tutorials .box1 .span3, #tutorials .box8 .span3, #tutorials .box7 .span3, #tutorials .box6 .span3, #tutorials .box5 .span3, #tutorials .box4 .span3, #tutorials .box3 .span3, #tutorials .box2 .span3 {
  color: gray;
}
#tutorials .box1 h6, #tutorials .box8 h6, #tutorials .box7 h6, #tutorials .box6 h6, #tutorials .box5 h6, #tutorials .box4 h6, #tutorials .box3 h6, #tutorials .box2 h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #072f60;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
#tutorials .box1 h6:hover, #tutorials .box8 h6:hover, #tutorials .box7 h6:hover, #tutorials .box6 h6:hover, #tutorials .box5 h6:hover, #tutorials .box4 h6:hover, #tutorials .box3 h6:hover, #tutorials .box2 h6:hover {
  color: #3bbca7;
}
#tutorials .box1 .fa-user, #tutorials .box8 .fa-user, #tutorials .box7 .fa-user, #tutorials .box6 .fa-user, #tutorials .box5 .fa-user, #tutorials .box4 .fa-user, #tutorials .box3 .fa-user, #tutorials .box2 .fa-user {
  color: #3bbca7;
  margin-left: 5px;
}
#tutorials .box1 .fa-book, #tutorials .box8 .fa-book, #tutorials .box7 .fa-book, #tutorials .box6 .fa-book, #tutorials .box5 .fa-book, #tutorials .box4 .fa-book, #tutorials .box3 .fa-book, #tutorials .box2 .fa-book {
  color: #3bbca7;
  margin-left: 5px;
}
#tutorials .box1 .fa-star, #tutorials .box8 .fa-star, #tutorials .box7 .fa-star, #tutorials .box6 .fa-star, #tutorials .box5 .fa-star, #tutorials .box4 .fa-star, #tutorials .box3 .fa-star, #tutorials .box2 .fa-star {
  color: #ffb60a;
  font-size: 14px;
  padding-bottom: 20px;
}
#topics {
  background-color: #f6f7f9;
  margin-top: 100px;
}
#topics h2 {
  padding: 50px 0px;
  color: #072f60;
  font-weight: bold;
}
#topics .box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
#topics .box:hover {
  background-color: #072f60;
}
#topics .box:hover span {
  color: white;
}
#topics .box img {
  width: 20%;
}
#topics .box span {
  color: #072f60;
  font-weight: bold;
  font-size: 18px;
  padding: 0px 10px;
}

#tricks {
  width: 80%;
  margin: auto;
}
#tricks h2 {
  color: #072f60;
  padding: 50px 0px;
}
#tricks .leftside {
  margin-top: 20px;
}
#tricks .rightside .box {
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#tricks .rightside .box:hover img {
  filter: brightness(80%);
}
#tricks .rightside .box img {
  padding: 20px 0px;
  transition: 0.2s ease-in-out;
}
#tricks .rightside .box .human {
  border-radius: 50%;
  width: 11%;
  margin-left: 20px;
}
#tricks .rightside .box a {
  background-color: #f1faf9;
  color: #3bbca7;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
#tricks .rightside .box a:hover {
  background-color: #3bbca7;
  color: white;
}
#tricks .rightside .box .span1 {
  float: right;
  margin-top: 2px;
  margin-right: 20px;
  color: #072f60;
  font-weight: bold;
}
#tricks .rightside .box .span2 {
  color: grey;
}
#tricks .rightside .box .span3 {
  color: gray;
}
#tricks .rightside .box h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #072f60;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
#tricks .rightside .box h6:hover {
  color: #3bbca7;
}
#tricks .rightside .box .fa-user {
  color: #3bbca7;
  margin-left: 5px;
}
#tricks .rightside .box .fa-book {
  color: #3bbca7;
  margin-left: 5px;
}
#tricks .rightside .box .fa-star {
  color: #ffb60a;
  font-size: 14px;
  padding-bottom: 20px;
}
#tricks .button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#tricks .button a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #3bbca7;
  padding: 12px 15px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
#tricks .button a:hover {
  color: white;
  background-color: #072f60;
}

#corp {
  background-color: #f6f7f9;
  margin-top: 100px;
}
#corp .mainh1 {
  color: #072f60;
  padding: 50px 0px;
}
#corp .box img {
  margin-left: 80px;
}
#corp .box .p1 {
  color: #224570;
  font-weight: bold;
  font-size: 20px;
}
#corp .box .p2 {
  color: #224570;
  font-weight: bold;
}
#corp .box .p3 {
  color: gray;
  font-weight: 500;
  font-size: 12px;
}
#corp .box2 {
  margin-top: 70px;
}
#corp .numberbox {
  margin-top: 50px;
}
#corp .numberbox .h1 {
  color: #3bbca7;
  font-weight: 600;
}
#corp .numberbox .p4 {
  color: #224570;
  font-weight: 500;
  font-size: 14px;
}

#headerv5 {
  padding: 10px 0px;
  background-color: white;
}
#headerv5 .logo img {
  width: 60%;
}
#headerv5 .navmenu ul .home {
  position: relative;
}
#headerv5 .navmenu ul .home:hover .home-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#headerv5 .navmenu ul .home .home-dropped {
  position: absolute;
  border-top: 3px solid orange;
  border-radius: 5px;
  background-color: white;
  width: 17rem;
  max-height: 35vh;
  transform: translateY(40px);
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#headerv5 .navmenu ul .home .home-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#headerv5 .navmenu ul .courses {
  position: relative;
}
#headerv5 .navmenu ul .courses:hover .courses-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#headerv5 .navmenu ul .courses .courses-dropped {
  position: absolute;
  border-top: 3px solid orange;
  border-radius: 5px;
  background-color: white;
  width: 17rem;
  max-height: 35vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#headerv5 .navmenu ul .courses .courses-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#headerv5 .navmenu ul .blog {
  position: relative;
}
#headerv5 .navmenu ul .blog:hover .blog-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#headerv5 .navmenu ul .blog .blog-dropped {
  position: absolute;
  border-top: 3px solid orange;
  border-radius: 5px;
  background-color: white;
  width: 16rem;
  max-height: 22vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#headerv5 .navmenu ul .blog .blog-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#headerv5 .navmenu ul .pages {
  position: relative;
}
#headerv5 .navmenu ul .pages:hover .pages-dropped {
  visibility: visible;
  opacity: 1;
  transform: translateY(25px);
}
#headerv5 .navmenu ul .pages .pages-dropped {
  position: absolute;
  border-top: 3px solid orange;
  border-radius: 5px;
  background-color: white;
  width: 16rem;
  max-height: 62vh;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(102, 102, 102, 0.1725490196);
  padding-bottom: 20px;
}
#headerv5 .navmenu ul .pages .pages-dropped li a {
  font-size: 15px;
  color: #072f60;
  padding: 0px 30px;
}
#headerv5 .navmenu ul li:first-child a {
  color: orange;
}
#headerv5 .navmenu ul li a {
  display: block;
  color: #072f60;
  text-decoration: none;
  font-weight: 500;
  font-family: inherit;
  margin-top: 20px;
  padding: 0px 15px;
  transition: 0.2s ease-in-out;
}
#headerv5 .navmenu ul li a:hover {
  color: orange;
}
#headerv5 .navmenu ul li a:hover i {
  color: #3bbca7;
}
#headerv5 .navmenu ul li a i {
  padding: 5px;
  font-size: 12px;
  color: grey;
  transition: 0.2s ease-in-out;
}
#headerv5 .inputbox {
  position: relative;
}
#headerv5 .inputbox input {
  background-color: #f8f8f8;
  outline: none;
  border: none;
  padding: 12px 20px;
  width: 250px;
  font-family: inherit;
  border-radius: 5px;
}
#headerv5 .inputbox .fa-magnifying-glass {
  position: absolute;
  top: 35%;
  left: 80%;
  color: orange;
}
#headerv5 .line {
  width: 1px;
  height: 40px;
  background-color: #b6b6b6;
  transform: rotateX("90deg");
}
#headerv5 .rightside {
  margin: 15px 120px 0px 0px;
  font-family: inherit;
  color: orange;
  cursor: pointer;
}

#cook {
  background-color: #faf0e4;
}
#cook .box h1 {
  font-size: 60px;
}
#cook .box p {
  color: gray;
  font-weight: 500;
  margin: 30px 0px;
}
#cook .box a {
  background-color: #f6520a;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  margin: 20px 0px;
  display: inline-block;
}
#cook .box a:hover {
  background-color: #ffa300;
}
#cook .rightboxv5 {
  float: right;
  margin-top: 150px;
  margin-right: 50px;
}

#chiken {
  margin-top: 100px;
}
#chiken .box {
  border-radius: 20px;
  padding: 38px 0px;
}
#chiken .box img {
  float: right;
  width: 35%;
  margin-top: -150px;
  border-radius: 20px;
}
#chiken .box h6 {
  color: orangered;
  margin-left: 50px;
}
#chiken .box h2 {
  margin-left: 50px;
}
#chiken .box a {
  background-color: #f6520a;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  margin: 20px 0px;
  display: inline-block;
  margin-left: 50px;
}
#chiken .box a:hover {
  background-color: #ffa300;
}
#chiken .box2v5 {
  background-color: #adddc7;
}
#chiken .box2v5 img {
  width: 30%;
}
#chiken .box2v5 h2 {
  color: white;
}
#chiken .box2v5 a {
  background-color: #ffa300;
}
#chiken .box2v5 a:hover {
  background-color: #f6520a;
}

#popular {
  margin-top: 100px;
}
#popular .fc {
  color: orangered;
  font-weight: 500;
  font-size: 12px;
  position: relative;
}
#popular .fc::before {
  content: "";
  position: absolute;
  width: 30px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  right: 105%;
}
#popular .fc::after {
  content: "";
  position: absolute;
  width: 30px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  left: 105%;
}
#popular .epc {
  color: #072f60;
  margin: 20px 0px;
}
#popular .box1, #popular .box4, #popular .box3, #popular .box2, #popular #tutorials .box5, #tutorials #popular .box5, #popular #tutorials .box6, #tutorials #popular .box6, #popular #tutorials .box7, #tutorials #popular .box7, #popular #tutorials .box8, #tutorials #popular .box8 {
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#popular .box1:hover img, #popular .box4:hover img, #popular .box3:hover img, #popular .box2:hover img, #popular #tutorials .box5:hover img, #tutorials #popular .box5:hover img, #popular #tutorials .box6:hover img, #tutorials #popular .box6:hover img, #popular #tutorials .box7:hover img, #tutorials #popular .box7:hover img, #popular #tutorials .box8:hover img, #tutorials #popular .box8:hover img {
  filter: brightness(80%);
}
#popular .box1 img, #popular .box4 img, #popular .box3 img, #popular .box2 img, #popular #tutorials .box5 img, #tutorials #popular .box5 img, #popular #tutorials .box6 img, #tutorials #popular .box6 img, #popular #tutorials .box7 img, #tutorials #popular .box7 img, #popular #tutorials .box8 img, #tutorials #popular .box8 img {
  padding: 20px 0px;
  transition: 0.2s ease-in-out;
}
#popular .box1 .human, #popular .box4 .human, #popular .box3 .human, #popular .box2 .human, #popular #tutorials .box5 .human, #tutorials #popular .box5 .human, #popular #tutorials .box6 .human, #tutorials #popular .box6 .human, #popular #tutorials .box7 .human, #tutorials #popular .box7 .human, #popular #tutorials .box8 .human, #tutorials #popular .box8 .human {
  border-radius: 50%;
  width: 11%;
  margin-left: 20px;
}
#popular .box1 a, #popular .box4 a, #popular .box3 a, #popular .box2 a, #popular #tutorials .box5 a, #tutorials #popular .box5 a, #popular #tutorials .box6 a, #tutorials #popular .box6 a, #popular #tutorials .box7 a, #tutorials #popular .box7 a, #popular #tutorials .box8 a, #tutorials #popular .box8 a {
  background-color: #f1faf9;
  color: orange;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
#popular .box1 a:hover, #popular .box4 a:hover, #popular .box3 a:hover, #popular .box2 a:hover, #popular #tutorials .box5 a:hover, #tutorials #popular .box5 a:hover, #popular #tutorials .box6 a:hover, #tutorials #popular .box6 a:hover, #popular #tutorials .box7 a:hover, #tutorials #popular .box7 a:hover, #popular #tutorials .box8 a:hover, #tutorials #popular .box8 a:hover {
  background-color: orange;
  color: white;
}
#popular .box1 .span1, #popular .box4 .span1, #popular .box3 .span1, #popular .box2 .span1, #popular #tutorials .box5 .span1, #tutorials #popular .box5 .span1, #popular #tutorials .box6 .span1, #tutorials #popular .box6 .span1, #popular #tutorials .box7 .span1, #tutorials #popular .box7 .span1, #popular #tutorials .box8 .span1, #tutorials #popular .box8 .span1 {
  float: right;
  margin-top: 2px;
  margin-right: 20px;
  color: #072f60;
  font-weight: bold;
}
#popular .box1 .span2, #popular .box4 .span2, #popular .box3 .span2, #popular .box2 .span2, #popular #tutorials .box5 .span2, #tutorials #popular .box5 .span2, #popular #tutorials .box6 .span2, #tutorials #popular .box6 .span2, #popular #tutorials .box7 .span2, #tutorials #popular .box7 .span2, #popular #tutorials .box8 .span2, #tutorials #popular .box8 .span2 {
  color: grey;
}
#popular .box1 .span3, #popular .box4 .span3, #popular .box3 .span3, #popular .box2 .span3, #popular #tutorials .box5 .span3, #tutorials #popular .box5 .span3, #popular #tutorials .box6 .span3, #tutorials #popular .box6 .span3, #popular #tutorials .box7 .span3, #tutorials #popular .box7 .span3, #popular #tutorials .box8 .span3, #tutorials #popular .box8 .span3 {
  color: gray;
}
#popular .box1 h6, #popular .box4 h6, #popular .box3 h6, #popular .box2 h6, #popular #tutorials .box5 h6, #tutorials #popular .box5 h6, #popular #tutorials .box6 h6, #tutorials #popular .box6 h6, #popular #tutorials .box7 h6, #tutorials #popular .box7 h6, #popular #tutorials .box8 h6, #tutorials #popular .box8 h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #072f60;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
#popular .box1 h6:hover, #popular .box4 h6:hover, #popular .box3 h6:hover, #popular .box2 h6:hover, #popular #tutorials .box5 h6:hover, #tutorials #popular .box5 h6:hover, #popular #tutorials .box6 h6:hover, #tutorials #popular .box6 h6:hover, #popular #tutorials .box7 h6:hover, #tutorials #popular .box7 h6:hover, #popular #tutorials .box8 h6:hover, #tutorials #popular .box8 h6:hover {
  color: orange;
}
#popular .box1 .fa-user, #popular .box4 .fa-user, #popular .box3 .fa-user, #popular .box2 .fa-user, #popular #tutorials .box5 .fa-user, #tutorials #popular .box5 .fa-user, #popular #tutorials .box6 .fa-user, #tutorials #popular .box6 .fa-user, #popular #tutorials .box7 .fa-user, #tutorials #popular .box7 .fa-user, #popular #tutorials .box8 .fa-user, #tutorials #popular .box8 .fa-user {
  color: orange;
  margin-left: 5px;
}
#popular .box1 .fa-book, #popular .box4 .fa-book, #popular .box3 .fa-book, #popular .box2 .fa-book, #popular #tutorials .box5 .fa-book, #tutorials #popular .box5 .fa-book, #popular #tutorials .box6 .fa-book, #tutorials #popular .box6 .fa-book, #popular #tutorials .box7 .fa-book, #tutorials #popular .box7 .fa-book, #popular #tutorials .box8 .fa-book, #tutorials #popular .box8 .fa-book {
  color: orange;
  margin-left: 5px;
}
#popular .box1 .fa-star, #popular .box4 .fa-star, #popular .box3 .fa-star, #popular .box2 .fa-star, #popular #tutorials .box5 .fa-star, #tutorials #popular .box5 .fa-star, #popular #tutorials .box6 .fa-star, #tutorials #popular .box6 .fa-star, #popular #tutorials .box7 .fa-star, #tutorials #popular .box7 .fa-star, #popular #tutorials .box8 .fa-star, #tutorials #popular .box8 .fa-star {
  color: orange;
  font-size: 14px;
  padding-bottom: 20px;
}
#snacks {
  margin-top: 100px;
  background-color: #fff9ed;
}
#snacks span {
  margin-top: 50px;
  display: inline-block;
  color: orangered;
  font-weight: 500;
  font-size: 12px;
  position: relative;
}
#snacks span::before {
  content: "";
  position: absolute;
  width: 30px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  right: 105%;
}
#snacks span::after {
  content: "";
  position: absolute;
  width: 30px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  left: 105%;
}
#snacks h2 {
  color: #072f60;
  margin: 20px 0px;
}
#snacks .box {
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}
#snacks .box:hover img {
  transform: scale(1.1);
}
#snacks .box img {
  border-radius: 20px;
  transition: 0.4s ease-in-out;
  filter: brightness(70%);
}
#snacks .box p {
  text-align: center;
  font-weight: bold;
  transform: translateY(-50px);
  color: white;
}

#hosue {
  padding: 100px 0px;
}
#hosue .box h2 {
  color: #072f60;
}
#hosue .box p {
  color: gray;
  margin: 30px 0px;
}
#hosue .box i {
  color: orangered;
}
#hosue .box span {
  color: gray;
}
#hosue .box a {
  background-color: #f6520a;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  margin: 20px 0px;
  display: inline-block;
}
#hosue .box a:hover {
  background-color: #ffa300;
}
#hosue .text {
  margin-top: 100px;
}

#connect .background {
  background: url("/images/backgroundv5.jpeg");
  height: 100vh;
  background-size: cover;
}
#connect .background .sliderv5 {
  padding-top: 90px;
  margin: auto;
  width: 70%;
  height: 90vh;
}
#connect .background .sliderv5 swiper-container {
  width: 100%;
  height: 100%;
}
#connect .background .sliderv5 swiper-container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#around .ln {
  margin-top: 50px;
  display: inline-block;
  color: orangered;
  font-weight: 500;
  font-size: 12px;
  position: relative;
}
#around .ln::before {
  content: "";
  position: absolute;
  width: 40px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  right: 105%;
}
#around .ln::after {
  content: "";
  position: absolute;
  width: 40px;
  background-color: orangered;
  height: 2px;
  top: 50%;
  left: 105%;
}
#around h3 {
  color: #072f60;
  margin: 20px 0px;
}
#around .box {
  margin-top: 50px;
  box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.1725490196);
  position: relative;
  cursor: pointer;
}
#around .box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#around .box i {
  color: orangered;
  margin: 20px 0px 0px 20px;
}
#around .box span {
  color: grey;
  transition: 0.2s ease-in-out;
  font-size: 12px;
  font-weight: 500;
}
#around .box span:hover {
  color: #3bbca7;
}
#around .box h4 {
  color: #072f60;
  margin: 20px;
  transition: 0.2s ease-in-out;
  padding-bottom: 20px;
}
#around .box h4:hover {
  color: orangered;
}
#around .box button {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  background-color: orangered;
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}

#salad {
  margin-top: 100px;
}
#salad .box {
  position: relative;
}
#salad .box img {
  border-radius: 20px;
}
#salad .box a {
  position: absolute;
  top: 60%;
  right: 60%;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 8px 20px;
  transition: 0.2s ease-in-out;
  border-radius: 20px;
  font-weight: 500;
}
#salad .box a:hover {
  color: white;
  background-color: orangered;
}

#footerv5 {
  color: #dddfe3;
  font-family: inherit;
  padding: 20px 0px;
}
#footerv5 .box img {
  width: 60%;
  margin: 20px 0px;
}
#footerv5 .box .fa-brands {
  color: orange;
  border-radius: 50%;
  border: 1px solid orange;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
#footerv5 .box .fa-brands:hover {
  background-color: orange;
  color: white;
}
#footerv5 .box span {
  display: block;
  margin: 20px 30px;
  font-weight: bold;
  font-size: 20px;
  color: #072f60;
}
#footerv5 .box ul {
  list-style: none;
}
#footerv5 .box ul li {
  padding: 5px 0px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  color: gray;
}
#footerv5 .box ul li:hover {
  color: orange;
  font-weight: 500;
}
#footerv5 .box i {
  margin: 0px 5px;
  color: orange;
}
#footerv5 .box p {
  color: gray;
}/*# sourceMappingURL=style.css.map */